.app {
  margin-block: auto;
  padding: 20px;
  justify-content: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-weight: bold;
  color: #027068;
  font-size: 40px;
}

.row div {
  margin-bottom: 5px;
}

.row button {
  margin-left: 90px;
}
